﻿@page "/customer"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorIdentity.Shared.Models;
@using PeterLeslieMorris.Blazor.Validation;
@using Customer = BlazorIdentity.Shared.Models.Customer;

@inject HttpClient Http
@inject NavigationManager NavigationManager

    <div class="container-fluid">
        <h3>Customers</h3>

        @if (Error != null && Error.HasError)
        {
            <p class="">@Error.Message</p>
        }
        <div class="row bg-white">
            <div class="col-sm-4">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Search Customers</h5>
                        <p class="card-text">
                            <input type="email" class="form-control" @bind="searchTerm" id="exampleFormControlInput1" placeholder="Search...">
                        </p>
                        <button class="btn btn-primary" @onclick="SearchCustomers">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Add Customer</h5>
                        <p class="card-text">
                            <EditForm Model="@customer" OnValidSubmit="SaveCustomer">
                                <Validate />
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <InputText id="firstName" placeholder="Hannah" class="form-control" @bind-Value="customer.Firstname"></InputText>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <InputText id="lastName" placeholder="B" class="form-control" @bind-Value="customer.Lastname"></InputText>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </EditForm>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-white mt-5">
            <div class="w-100">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Surname</th>
                        </tr>                       
                    </thead>
                    <tbody>
                        @if (customers != null)
                        {
                            @foreach (var customer in customers)
                            {
                                <tr style="cursor:pointer" @onclick="() => GoToCustomer(customer)">
                                    <td scope="row">@customer.Id</td>
                                    <td>@customer.Firstname</td>
                                    <td>@customer.Lastname</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @code {
        private IEnumerable<Customer> customers;

        private Customer customer = new Customer();

        private string searchTerm = default;

        private Error Error;

        protected override async Task OnInitializedAsync()
        {
            await GetCustomers();
        }

        private void GoToCustomer(Customer customer)
        {
            NavigationManager.NavigateTo($"customer/{customer.Id}");
        }

        private async Task SaveCustomer()
        {
            try
            {
                var result = await Http.PostAsync("api/customer", JsonContent.Create(customer));

                if (result.IsSuccessStatusCode)
                {
                    await GetCustomers();
                }
            }
            catch (Exception ex)
            {
                this.Error = new Error(true, ex.Message);
            }
        }

        private async Task SearchCustomers()
        {
            try
            {
                var cancellationToken = new System.Threading.CancellationTokenSource();

                customers = await Http.GetFromJsonAsync<IEnumerable<Customer>>($"api/customer/{searchTerm}", cancellationToken.Token);

                StateHasChanged();
            }
            catch (Exception ex)
            {
                this.Error = new Error(true, ex.Message);
            }
        }

        private async Task GetCustomers()
        {
            try
            {
                customers = await Http.GetFromJsonAsync<IEnumerable<Customer>>("api/customer");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }
