﻿@page "/customer/{Id:int}"

@using BlazorIdentity.Shared.Models;

@inject NavigationManager NavManager
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (_customer == null)
{
    <h3>Loading...</h3>
}
else
{
    <h3>Customer: @_customer.Firstname @_customer.Lastname</h3>
}

@if (_enquiries == null)
{

}
else if (!_enquiries.Any())
{
    <h3>No enquiries exist</h3>
}
else
{
    foreach (var enquiry in _enquiries)
    {
        <h3>@enquiry.Make @enquiry.Model</h3>
    }
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Customer _customer;

    private IEnumerable<Enquiry> _enquiries;

    protected override async Task OnInitializedAsync()
    {
        _customer = await Http.GetFromJsonAsync<Customer>($"api/customer/{Id}");

        if (_customer == null)
        {
            await JSRuntime.InvokeVoidAsync("back", null);
        }

        _enquiries = await Http.GetFromJsonAsync<IEnumerable<Enquiry>>($"api/enquiry/{Id}");
    }
}
